body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 5;
}

.logo,
.nav {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 250px;
}

.logo img {
  padding: 2px 20px;
}

h1 {
  margin-top: 0;
}

.header h1 {
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  margin: 0px;
}

.navbar {
  display: inline-flex;
  align-items: center;
}

.navbar a {
  color: black;
  padding-right: 30px;
}

.main {
  display: inline-flex;
  /* border: 3px dotted black; */
  position: relative;
  top: 85px;
  margin: 0 auto;
}

.column {
  /* border: 3px dotted green; */
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
}

.sub_nowrap {
  flex-wrap: nowrap;
  width: 629px;
}

.sub_nowrap .article {
  width: 300px;
  min-height: 300px;
}

.large {
  width: 630px;
  margin-left: 10px;
}

.medium {
  width: 300px;
  margin: 0px 40px;
}

.small {
  width: 240px;
  margin-right: 10px;
  flex-direction: column;
  justify-content: flex-start;
}

.article {
  /* border: 1px solid red; */
}

.article p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.image {
  display: flex;
  align-items: center;
}

.phish {
  background-image: url('img-story-main.png');
  width: 629px;
  height: 300px;
}

.earth {
  background-image: url('img-story-2.png');
  width: 299px;
  height: 300px;
}

.camera {
  background-image: url('img-story-3.png');
  width: 299px;
  height: 300px;
}

.cat {
  background-image: url('img-story-1.png');
  width: 299px;
  height: 300px;
}

.image h1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin: 0px;
  text-align: center;
}

.headline h1 {
  font-size: 40px;
  text-align: left;
  padding-left: 20px;
}

.column h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.small p {
  padding-bottom: 10px;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
}
.footer {
  position: relative;
  top: 85px;
  background-color: MediumAquamarine;
  margin: 0;
  margin-top: 60px;
  font-family: Verdana;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 30px;
  flex-direction: column;
}

.footer2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer h3 {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 3px solid white;
  margin-right: 30px;
  padding-right: 30px;
  flex-wrap: wrap;
}

.footer p {
  margin-right: 10px;
}
